.product__content {
    width: 60%;
    margin: 40px auto;
}
.product__content-title {
    margin-bottom: 10px;
}
.product__content-title a {
    text-decoration: none;
}

.product__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.product__item-image {
    width: 50%;
    padding-right: 30px;
}
.product__item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}
.product__item-file {
    padding: 5px 10px;
    border: 1px solid #4B4B4B;
    background-color: #E0DFDE;
    cursor: pointer;
}
.product__item-file input {
    display: none;
}

.product__item-input span {
    margin-left: 10px;
}
.product__item-label {
    margin-bottom: 15px;
}
.product__detail {
    width: 50%;
}
.product__name input,.product__price input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #E0DFDE;
    appearance: none;
    border-radius: 3px;
}
.product__name,.product__price {
    margin-bottom: 20px;
}
.product__season-item {
    padding: 5px 0 0 0;
    display: flex;
    border: none;
    align-items: center;
}
.product__season-item-label {
    margin-right: 40px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.product__season-item-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 18px;
    height: 18px;
}
.product__season-item-label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #777;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #fff;
    transition: all 0.2s ease;
    box-sizing: border-box;
}
.product__season-item-label input[type="checkbox"]:checked+span {
    background-color: #000;
    border-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M9.55 18.2 3.65 12.3 5.15 10.8 9.55 15.2 18.85 6 20.35 7.5z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
.product__textarea {
    width: 100%;
}
.product__textarea textarea {
    width: 100%;
    height: 160px;
    padding: 10px 10px;
    border: 1px solid #E0DFDE;
    border-radius: 3px;
    line-height: 150%;
    appearance: none;
}

.product__button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.product__button-inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: auto;
    margin-left: auto;
}
.product__button-back,
.product__button-save {
    padding: 15px 20px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.product__button-back {
    text-align: center;
    color: #4B4B4B;
    text-decoration: none;
    background-color: #E0DFDE;
}
.product__button-save {
    color: #4B4B4B;
    background-color: #F5C800;
}
.product-delete__form {
    position: relative;
}
.product__button-delete {
    background-color: #F8F8F8;
    color: red;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    right: 0;
    position: absolute;
    transform: translate(0, -100%);
}

.detail__form__error-message {
    padding-left:5px;
    font-size: 80%;
    color: #FD0707;
    margin-top: 10px;
}