.register__content {
    width: 60%;
    margin: 30px auto;
}
.register__heading {
    margin-bottom: 20px;
}

.register__item-label {
    margin-bottom: 15px;
}
.register__item-input,.register__season-list,.register__item-image {
    margin-bottom: 20px;
}
.register__item-input {
    width: 100%;
}
.register__item-input input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #E0DFDE;
}

.register__item-file {
    display: block;
    cursor: pointer;
}
.register__season-list {
    border: none;
}
.register__item-season {
    padding: 0;
    display: flex;
    border: none;
    align-items: center;
}
.register__item-season-label {
    cursor: pointer;
    margin-right: 15px;
}

.register__item-input textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #E0DFDE;
}

.register__button {
    margin: 0 auto;
    text-align: center;
}
.register__button-back ,.register__button-save {
    margin: 0 10px;
    padding: 15px 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register__button-back {
    display: inline-block;
    text-decoration: none;
    color:#4B4B4B;
    background-color: #E0DFDE;
}
.register__button-save {
    background-color: #F5C800;
}

.register__item-label span:nth-child(2) {
    margin: auto 10px;
    padding: 0 5px;
    height: 100%;
    font-size: 80%;
    color: #FFFFFF;
    background-color: #FD0707;
}
.register__item-label span:nth-child(3) {
    font-size: 80%;
    color: #FD0707;
}
.register__form__error-message {
    font-size: 80%;
    margin: 10px 0;
    color: #FD0707;
}